<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.Seq"/>
	</extensions>
	<targets async="true">
		<target
			name="logfile"
			xsi:type="File"
			header="|Level|DateTime|Version|Class|Message"
			layout="|${pad:padding=-5:inner=${level:uppercase=true}}|${date:format=yyyy-MM-dd HH\:mm\:ss,fff}|${var:appVersion}|${logger}|${message} ${exception:format=tostring}"
			fileName="${var:baseDir}/logs/${appdomain:format={1\}}-${replace:searchFor=(\\.[\\w]+)+:replaceWith=:regex=true:inner=${logger}}.log" 
			archiveFileName="${var:basedir}/logs/${appdomain:format={1\}}-${replace:searchFor=(\\.[\\w]+)+:replaceWith=:regex=true:inner=${logger}}.log.{#}"
			archiveNumbering="Rolling"
			keepFileOpen="true"
			encoding="utf-8"
			maxArchiveFiles="20"
			archiveAboveSize="5242880"
		/>
		<target xsi:type="ColoredConsole" name="logconsole" />
		<target 
			name="seq_wrapper" 
			xsi:type="BufferingWrapper"
			bufferSize="1000" 
			flushTimeout="2000"
		>
			<target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="">
				<property name="ThreadId" value="${threadid}" as="number" />
				<property name="MachineName" value="${machinename}" />
			</target>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Warn" writeTo="logfile" />
		<logger name="*" minlevel="Warn" writeTo="seq_wrapper" />
		<logger name="*" minlevel="Warn" writeTo="logconsole" />
	</rules>
</nlog>